@model SoarBudgetV2.Models.ViewModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Money category');
            data.addColumn('number', 'Amount of money');
            data.addRows([
                ['Bill Money', @Model.Budget.MonthlyBillMoney],
                ['Budget Item Money', @Model.Budget.MonthlyBudgetItemMoney],
                ['Debt Item Money', @Model.Budget.MonthlyDebtItemMoney],
                ['Goal Item Money', @Model.Budget.MonthlyGoalItemMoney],
                ['Random Expense Money', @Model.Budget.MonthlyRandomExpenseMoney]
            ]);

            var options = {
                'title': 'Spending',
                chartArea: {left:0, width:"95%", height:"95%"}
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<div class="row">
    <div class="col-sm-8">
        <h1>Welcome, @Model.Budgeteer.FirstName</h1>
    </div>

    @if (Model.UpcomingBills.Count > 0)
    {
        <div class="col-sm-4" style="border:1px solid orange">
            <ul>
                @foreach (var bill in Model.UpcomingBills)
                {
                    <li>@bill</li>
                }                
                @foreach (var lateBill in Model.LateBills)
                {
                    <li>@lateBill</li>
                }
            </ul>
        </div>
    }
</div>
<br />
<br />
<div class="row">
    <div class="col-sm-4">
        <h3>Your Spending</h3>
        @if (Model.Budget.MonthlyTotalMoney <= 0)
        {
            <p>You have no spending to track this month yet.</p>
        }
        else
        {
            <!--Div that holds the pie chart-->
            <div id="chart_div"></div>
        }
        <br />
        <h3>Your Budget Limits</h3>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Budget.MonthlyIncome)
            </dt>
            <dd>
                $@Html.DisplayFor(model => model.Budget.MonthlyIncome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Budget.MonthlyLimit)
            </dt>
            <dd>
                $@Html.DisplayFor(model => model.Budget.MonthlyLimit)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Budget.RandomExpenseLimit)
            </dt>
            <dd>
                $@Html.DisplayFor(model => model.Budget.RandomExpenseLimit)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Budget.MonthlyTotalMoney)
            </dt>
            <dd>
                $@Html.DisplayFor(model => model.Budget.MonthlyTotalMoney)
            </dd>
        </dl>
        <a class="btn btn-secondary" asp-action="EditBudget" asp-route-budgetId="@Model.Budget.BudgetId">Edit</a>
    </div>
    <div class="col-sm-8">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=emFtZWx0b0BnbWFpbC5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043&amp;showTitle=1&amp;showCalendars=1&amp;title=%20" style="border-width:0" width="700" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    @*Trigger the modal with a button
        <a asp-action="EditBudget" asp-route-budgetId="@Model.Budget.BudgetId" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal">Edit Budget</a>
        <div class="container">
             Modal
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                     Modal content
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-action="EditBudget">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="Budget.BudgetId" />
                                        <div class="form-group">
                                            <label asp-for="Budget.MonthlyIncome" class="control-label"></label>
                                            <input asp-for="Budget.MonthlyIncome" class="form-control" />
                                            <span asp-validation-for="Budget.MonthlyIncome" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Budget.MonthlyLimit" class="control-label"></label>
                                            <input asp-for="Budget.MonthlyLimit" class="form-control" />
                                            <span asp-validation-for="Budget.MonthlyLimit" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Budget.RandomExpenseLimit" class="control-label"></label>
                                            <input asp-for="Budget.RandomExpenseLimit" class="form-control" />
                                            <span asp-validation-for="Budget.RandomExpenseLimit" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@
</div>

<hr />
<div class="row">
    <div class="col-sm-9">
        @*Bills*@
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th>
                        @Html.DisplayNameFor(model => model.Bill.BillName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bill.BillType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bill.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bill.DueDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Bills.Count <= 0)
                {
                    <tr><td>There are no items to show</td></tr>
                }
                else
                {
                    @foreach (var item in Model.Bills)
                    {
                        <tr class="table-light">
                            <td>
                                @Html.DisplayFor(modelItem => item.BillName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BillType)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DueDate)
                            </td>
                            <td>
                                <a class="btn btn-outline-success" asp-action="PayBill" asp-route-billId="@item.BillId">Pay Bill</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        @*Debt Items*@
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th>
                        @Html.DisplayNameFor(model => model.DebtItem.DebtItemName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DebtItem.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DebtItem.AmountToPayPerMonth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DebtItem.DueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DebtItem.TotalDebtAmount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DebtItems.Count <= 0)
                {
                    <tr><td>There are no items to show</td></tr>
                }
                else
                {
                    @foreach (var item in Model.DebtItems)
                    {
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.DebtItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.AmountToPayPerMonth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.TotalDebtAmount)
                </td>
                <td>
                    <a class="btn btn-outline-success" asp-action="PayDebtItem" asp-route-debtItemId="@item.DebtItemId">Pay Debt</a>
                </td>
            </tr>
                    }
                }
            </tbody>
        </table>

        @*Budget Items*@
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th>
                        @Html.DisplayNameFor(model => model.BudgetItem.BudgetItemName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BudgetItem.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bill.Amount)
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.BudgetItems.Count <= 0)
                {
                    <tr><td>There are no items to show</td></tr>
                }
                else
                {
                    @foreach (var item in Model.BudgetItems)
                    {
                        <tr class="table-light">
                            <td>
                                @Html.DisplayFor(modelItem => item.BudgetItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @*Budget Item Expenses*@
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th>
                        @Html.DisplayNameFor(model => model.BudgetItemExpense.BudgetItemExpenseName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BudgetItemExpense.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BudgetItemExpense.Amount)
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.BudgetItemExpenses.Count <= 0)
                {
                    <tr><td>There are no items to show</td></tr>
                }
                else
                {
                    @foreach (var item in Model.BudgetItemExpenses)
                    {
                        <tr class="table-light">
                            <td>
                                @Html.DisplayFor(modelItem => item.BudgetItemExpenseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @*Random Expenses*@
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th>
                        @Html.DisplayNameFor(model => model.RandomExpense.RandomExpenseName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RandomExpense.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RandomExpense.Amount)
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.RandomExpenses.Count <= 0)
                {
                    <tr><td>There are no items to show</td></tr>
                }
                else
                { 
                    @foreach (var item in Model.RandomExpenses)
                    {
                        <tr class="table-light">
                            <td>
                                @Html.DisplayFor(modelItem => item.RandomExpenseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @*Goal Item*@
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th>
                        @Html.DisplayNameFor(model => model.GoalItem.GoalItemName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GoalItem.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GoalItem.Amount)
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.GoalItems.Count <= 0)
                {
                    <tr><td>There are no items to show</td></tr>
                }
                else
                {
                    @foreach (var item in Model.GoalItems)
                    {
                        <tr class="table-light">
                            <td>
                                @Html.DisplayFor(modelItem => item.GoalItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col-sm-3">
        <a class="btn btn-secondary col-sm-12" asp-action="CreateRandomExpense">Add Random Expense</a>
        <br />
        <br />
        <a class="btn btn-secondary col-sm-12" asp-action="CreateBudgetItemExpense">Add Budget Item Expense</a>
        <br />
        <br />
        <a class="btn btn-secondary col-sm-12" asp-action="CreateBill">Add Bill</a>
        <br />
        <br />
        <a class="btn btn-secondary col-sm-12" asp-action="CreateBudgetItem">Add Budget Item</a>
        <br />
        <br />
        <a class="btn btn-secondary col-sm-12" asp-action="CreateDebtItem">Add Debt Item</a>
        <br />
        <br />
        <a class="btn btn-secondary col-sm-12" asp-action="CreateGoalItem">Add Goal Item</a>
    </div>



</div>
